# DebWrt - Debian on Embedded devices
#
# Copyright (C) 2010 Johan van Zoomeren <amain@debwrt.net>
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.

# Required default config
#
CONFIG_TARGET_ROOTFS_INITRAMFS=n
CONFIG_TARGET_ROOTFS_JFFS2=n
CONFIG_TARGET_ROOTFS_SQUASHFS=y
CONFIG_TARGET_ROOTFS_TGZ=n
CONFIG_TARGET_ROOTFS_CPIOGZ=n
CONFIG_TARGET_ROOTFS_EXT2FS=n
CONFIG_KERNEL_DEBUG_FS=n

# Fix dependency problem ( host opkg is required, but not build when base-files is not build )
#
CONFIG_PACKAGE_base-files=y

# DebWrt distribution config
#
CONFIG_PACKAGE_kmod-loop=y
CONFIG_PACKAGE_kmod-nbd=y
CONFIG_PACKAGE_kmod-crypto-des=y
CONFIG_PACKAGE_kmod-crypto-hmac=y
CONFIG_PACKAGE_kmod-crypto-md5=y
CONFIG_PACKAGE_kmod-crypto-misc=y
CONFIG_PACKAGE_kmod-crypto-sha1=y
CONFIG_PACKAGE_kmod-fs-btrfs=y
CONFIG_PACKAGE_kmod-fs-cifs=y
CONFIG_PACKAGE_kmod-fs-exportfs=y
CONFIG_PACKAGE_kmod-fs-ext2=y
CONFIG_PACKAGE_kmod-fs-ext3=y
CONFIG_PACKAGE_kmod-fs-ext4=y
CONFIG_PACKAGE_kmod-fs-hfs=y
CONFIG_PACKAGE_kmod-fs-hfsplus=y
CONFIG_PACKAGE_kmod-fs-isofs=y
CONFIG_PACKAGE_kmod-fs-mbcache=y
CONFIG_PACKAGE_kmod-fs-minix=y
CONFIG_PACKAGE_kmod-fs-msdos=y
CONFIG_PACKAGE_kmod-fs-nfs=y
CONFIG_PACKAGE_kmod-fs-nfs-common=y
CONFIG_PACKAGE_kmod-fs-nfsd=y
CONFIG_PACKAGE_kmod-fs-ntfs=y
CONFIG_PACKAGE_kmod-fs-reiserfs=y
CONFIG_PACKAGE_kmod-fs-udf=y
CONFIG_PACKAGE_kmod-fs-vfat=y
CONFIG_PACKAGE_kmod-fs-xfs=y
CONFIG_PACKAGE_kmod-fuse=y
CONFIG_PACKAGE_kmod-i2c-core=y
CONFIG_PACKAGE_kmod-nls-base=y
CONFIG_PACKAGE_kmod-nls-cp1250=y
CONFIG_PACKAGE_kmod-nls-cp1251=y
CONFIG_PACKAGE_kmod-nls-cp437=y
CONFIG_PACKAGE_kmod-nls-cp775=y
CONFIG_PACKAGE_kmod-nls-cp850=y
CONFIG_PACKAGE_kmod-nls-cp852=y
CONFIG_PACKAGE_kmod-nls-cp866=y
CONFIG_PACKAGE_kmod-nls-iso8859-1=y
CONFIG_PACKAGE_kmod-nls-iso8859-13=y
CONFIG_PACKAGE_kmod-nls-iso8859-15=y
CONFIG_PACKAGE_kmod-nls-iso8859-2=y
CONFIG_PACKAGE_kmod-nls-koi8r=y
CONFIG_PACKAGE_kmod-nls-utf8=y
CONFIG_PACKAGE_kmod-arptables=y
CONFIG_PACKAGE_kmod-ebtables=y
CONFIG_PACKAGE_kmod-ebtables-ipv4=y
CONFIG_PACKAGE_kmod-ebtables-ipv6=y
CONFIG_PACKAGE_kmod-ebtables-watchers=y
CONFIG_PACKAGE_kmod-ip6tables=y
CONFIG_PACKAGE_kmod-ipt-core=y
CONFIG_PACKAGE_kmod-ipt-conntrack=y
CONFIG_PACKAGE_kmod-ipt-conntrack-extra=y
CONFIG_PACKAGE_kmod-ipt-extra=y
CONFIG_PACKAGE_kmod-ipt-filter=y
CONFIG_PACKAGE_kmod-ipt-imq=y
CONFIG_PACKAGE_kmod-ipt-ipopt=y
CONFIG_PACKAGE_kmod-ipt-iprange=y
CONFIG_PACKAGE_kmod-ipt-ipsec=y
CONFIG_PACKAGE_kmod-ipt-ipset=y
CONFIG_PACKAGE_kmod-ipt-nat=y
CONFIG_PACKAGE_kmod-ipt-nat-extra=y
CONFIG_PACKAGE_kmod-ipt-nathelper=y
CONFIG_PACKAGE_kmod-ipt-nathelper-extra=y
CONFIG_PACKAGE_kmod-ipt-queue=y
CONFIG_PACKAGE_kmod-ipt-tproxy=y
CONFIG_PACKAGE_kmod-ipt-ulog=y
CONFIG_PACKAGE_kmod-nf-conntrack-netlink=y
CONFIG_PACKAGE_kmod-nfnetlink=y
CONFIG_PACKAGE_kmod-nfnetlink-log=y
CONFIG_PACKAGE_kmod-nfnetlink-queue=y
CONFIG_PACKAGE_kmod-libphy=y
CONFIG_PACKAGE_kmod-macvlan=y
CONFIG_PACKAGE_kmod-swconfig=y
CONFIG_PACKAGE_kmod-appletalk=y
CONFIG_PACKAGE_kmod-atm=y
CONFIG_PACKAGE_kmod-bonding=y
CONFIG_PACKAGE_kmod-capi=y
CONFIG_PACKAGE_kmod-gre=y
CONFIG_PACKAGE_kmod-ip6-tunnel=y
CONFIG_PACKAGE_kmod-ipip=y
CONFIG_PACKAGE_kmod-ipsec=y
CONFIG_PACKAGE_kmod-ipsec4=y
CONFIG_PACKAGE_kmod-ipsec6=y
CONFIG_PACKAGE_kmod-iptunnel4=y
CONFIG_PACKAGE_kmod-iptunnel6=y
CONFIG_PACKAGE_kmod-ipv6=y
CONFIG_PACKAGE_kmod-isdn4linux=y
CONFIG_PACKAGE_kmod-misdn=y
CONFIG_PACKAGE_kmod-mp-alg=y
CONFIG_PACKAGE_kmod-ppp=y
CONFIG_PACKAGE_kmod-mppe=y
CONFIG_PACKAGE_kmod-pktgen=y
CONFIG_PACKAGE_kmod-ppp-synctty=y
CONFIG_PACKAGE_kmod-pppoa=y
CONFIG_PACKAGE_kmod-pppoe=y
CONFIG_PACKAGE_kmod-pppol2tp=y
CONFIG_PACKAGE_kmod-sched=y
CONFIG_PACKAGE_kmod-sit=y
CONFIG_PACKAGE_kmod-tun=y
CONFIG_PACKAGE_kmod-wprobe=y
CONFIG_PACKAGE_kmod-crc-ccitt=y
CONFIG_PACKAGE_kmod-crc16=y
CONFIG_PACKAGE_kmod-diag=y
CONFIG_PACKAGE_kmod-switch=y
CONFIG_PACKAGE_kmod-textsearch=y
CONFIG_PACKAGE_kmod-brcm-wl=y
CONFIG_PACKAGE_nas=y
CONFIG_PACKAGE_wl=y
CONFIG_PACKAGE_wlc=y
CONFIG_PACKAGE_kmod-usb-core=y
CONFIG_PACKAGE_kmod-video-core=y
CONFIG_PACKAGE_kmod-video-cpia2=y
CONFIG_PACKAGE_kmod-video-gspca-core=y
CONFIG_PACKAGE_kmod-video-gspca-conex=y
CONFIG_PACKAGE_kmod-video-gspca-etoms=y
CONFIG_PACKAGE_kmod-video-gspca-finepix=y
CONFIG_PACKAGE_kmod-video-gspca-gl860=y
CONFIG_PACKAGE_kmod-video-gspca-jeilinj=y
CONFIG_PACKAGE_kmod-video-gspca-m5602=y
CONFIG_PACKAGE_kmod-video-gspca-mars=y
CONFIG_PACKAGE_kmod-video-gspca-mr97310a=y
CONFIG_PACKAGE_kmod-video-gspca-ov519=y
CONFIG_PACKAGE_kmod-video-gspca-ov534=y
CONFIG_PACKAGE_kmod-video-gspca-pac207=y
CONFIG_PACKAGE_kmod-video-gspca-pac7311=y
CONFIG_PACKAGE_kmod-video-gspca-sn9c20x=y
CONFIG_PACKAGE_kmod-video-gspca-sonixb=y
CONFIG_PACKAGE_kmod-video-gspca-sonixj=y
CONFIG_PACKAGE_kmod-video-gspca-spca500=y
CONFIG_PACKAGE_kmod-video-gspca-spca501=y
CONFIG_PACKAGE_kmod-video-gspca-spca505=y
CONFIG_PACKAGE_kmod-video-gspca-spca506=y
CONFIG_PACKAGE_kmod-video-gspca-spca508=y
CONFIG_PACKAGE_kmod-video-gspca-spca561=y
CONFIG_PACKAGE_kmod-video-gspca-sq905=y
CONFIG_PACKAGE_kmod-video-gspca-sq905c=y
CONFIG_PACKAGE_kmod-video-gspca-stk014=y
CONFIG_PACKAGE_kmod-video-gspca-stv06xx=y
CONFIG_PACKAGE_kmod-video-gspca-sunplus=y
CONFIG_PACKAGE_kmod-video-gspca-t613=y
CONFIG_PACKAGE_kmod-video-gspca-tv8532=y
CONFIG_PACKAGE_kmod-video-gspca-vc032x=y
CONFIG_PACKAGE_kmod-video-gspca-zc3xx=y
CONFIG_PACKAGE_kmod-video-konica=y
CONFIG_PACKAGE_kmod-video-ov511=y
CONFIG_PACKAGE_kmod-video-ovcamchip=y
CONFIG_PACKAGE_kmod-video-pwc=y
CONFIG_PACKAGE_kmod-video-sn9c102=y
CONFIG_PACKAGE_kmod-video-uvc=y

# USB serial support
CONFIG_PACKAGE_kmod-usb-serial=y
CONFIG_PACKAGE_kmod-usb-serial-airprime=y
CONFIG_PACKAGE_kmod-usb-serial-ark3116=y
CONFIG_PACKAGE_kmod-usb-serial-belkin=y
CONFIG_PACKAGE_kmod-usb-serial-ch341=y
CONFIG_PACKAGE_kmod-usb-serial-cp210x=y
CONFIG_PACKAGE_kmod-usb-serial-cypress-m8=y
CONFIG_PACKAGE_kmod-usb-serial-ftdi=y
CONFIG_PACKAGE_kmod-usb-serial-ipw=y
CONFIG_PACKAGE_kmod-usb-serial-keyspan=y
CONFIG_PACKAGE_kmod-usb-serial-mct=y
CONFIG_PACKAGE_kmod-usb-serial-motorola-phone=y
CONFIG_PACKAGE_kmod-usb-serial-option=y
CONFIG_PACKAGE_kmod-usb-serial-oti6858=y
CONFIG_PACKAGE_kmod-usb-serial-pl2303=y
CONFIG_PACKAGE_kmod-usb-serial-sierrawireless=y
CONFIG_PACKAGE_kmod-usb-serial-visor=y

# USB Printer support
CONFIG_PACKAGE_kmod-usb-printer=y

# brcmf/smac support - will become modules not compiled into kernel
#CONFIG_PACKAGE_kmod-brcmfmac=y
#CONFIG_PACKAGE_kmod-brcmutil=y
#CONFIG_PACKAGE_kmod-lib-cordic=y
#CONFIG_PACKAGE_kmod-lib-crc8=y
#CONFIG_PACKAGE_kmod-brcmsmac=y

